.DropDownDiv {
    background-color: var(--background-panel);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -100px;
    bottom: 100px;
    z-index: 99999999999999999999;
    backdrop-filter: blur(5px);
    color: var(--primary);
    border-radius: 2svh;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 10px;
    interpolate-size: allow-keywords;
    transform-origin: center;
    translate: -50% 0;
    gap: 10px;
    transition:
        all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        left 0s linear;
    border: var(--panel-border) 2px solid;

    &.open {
        opacity: 1;
        width: auto;
        min-width: 200px;
        height: auto;
        left: 100px;

        div {
            height: auto;
        }
    }

    div {
        interpolate-size: allow-keywords;
        width: calc(100% - 20px);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        padding: 0 10px;
        height: 0;
        overflow: hidden;
        transition: all 0.3s ease;
        border-radius: 2svh;
        white-space: nowrap;

        &:not(.noanim) {
            cursor: pointer;
            &:hover {
                background-color: #aaaaaa33;
                translate: 0 -5px;
            }
        }

        &.noanim {
            justify-content: center;
        }
    }
}
