.ChatPlusButton {
    background: transparent;
    border: none;
    color: #aaa;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;

    &:hover {
        color: #fff;
        scale: 1.5;
        rotate: 90deg;
    }
}

.CreateChatConfirmButton {
    position: absolute;
    right: 24px;
    bottom: 24px;
    aspect-ratio: 1;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 48px;
    padding-left: 0;
    transition: all 0.2s ease;
    opacity: 0.8;

    &:hover {
        opacity: 1;
        scale: 1.5;
    }
}

.ChatsTitle {
    font-size: 24px;
    font-weight: bold;
    color: #aaa;
    text-align: center;
}

.ChatsHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--left-panel-bg);
    border: var(--panel-border) 2px solid;
    width: 100%;
    backdrop-filter: blur(5px);
    border-radius: 2svh;
    gap: 10px;
    padding: 10px;
    height: 60px;
}

@media screen and (orientation: portrait) {
    .ChatsHeader {
        backdrop-filter: blur(10px);
    }
}

.MessageWhenEmpty {
    position: absolute;
    left: 400px;
    top: 50%;
    translate: 0 -50%;
    color: #aaa;
    opacity: 0.2;
    z-index: 999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 400px);
    height: 100vh;
    scale: 0.8;
}

@media screen and (orientation: portrait) {
    .MessageWhenEmpty {
        width: 100%;
        left: 50%;
        translate: -50% -50%;
    }
}

.fade-down {
    animation: fade-down-anim 0.5s forwards;
}

@keyframes fade-down-anim {
    to {
        opacity: 0;
        scale: 0;
        transform: translateY(100vh);
        display: none;
    }
}

.LoadMoreMessagesDiv {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoadMoreMessagesButton {
    font-size: 18px;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}
