.VoiceProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    aspect-ratio: 1;
}

.VoiceProfileAvatar {
    height: 90%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 50%;
    padding: 5px;
    border: 4px solid var(--secondary);
}

.VoiceProfileName {
    font-size: 24px;
    color: var(--secondary);
    text-align: center;
    font-weight: bold;
}
