html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #383839;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  padding: 10px;
  gap: 10px;
}

p {
  color: #fff;
}

.LeftPanel {
  display: flex;
  justify-content: left;
  flex-direction: column;
  background: #242424; 
  border-radius: 2svh;
  width: 400px;
  height: calc(100vh - 40px);
  padding: 10px;
  gap: 10px;
}

.RightPanel {
  background: #242424;
  border-radius: 2svh;
  width: 100%;
  height: calc(100vh - 40px);
  padding: 10px;
}