.ChatPlusButton {
    position: absolute;
    right: 24px;
    bottom: 24px;
    background: transparent;
    border: none;
    color: #aaa;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;

    &:hover {
        color: #fff;
        scale: 1.5;
        rotate: 90deg;
    }
}